html {
  scrollbar-gutter: stable both-edges;
}

#root {
  max-width: 1680px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tab-list {
  @apply flex w-1/3 min-w-96 h-10 mb-8 justify-start;
}

.tab-button {
  @apply flex-1 h-full;
}

.tab-content {
  @apply w-full;
}

.type-icon {
  @apply h-8 w-8;
}
